

* {
    box-sizing: border-box;
}

body {
    display: block;
    background-color:white;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
    font-style: normal;
}

.content {
    width: 70%;
    margin: auto;
    padding: 80px 60px;
}
.top {
    text-align: center;
}

.logo {
    width: 80px;   
    background-color: black;
    color: white;
    padding: 30px 30px 30px 10px;
    font-size: 20px;
    margin: 0px auto;
    font-weight: bold;
    letter-spacing: 3px;
}

.heading_1 {
    font-size: x-large;  
    margin-top: auto;
    
} 
h1 {
    font-weight: normal;
}

.items {
    font-size: small;
    margin: 0 -30px;
}

input {
    width: 100%;
    margin: 10px 25px 25px 0px;
    padding: 15px 30px;
    font-size: large;
}

.name_container {
    display: flex;
    margin: 0 -20px;
}

.name {
    flex: 1;
    padding: 0px 20px;
}
.name:first-child {
    margin-right: -30px;
}

.phone_container {
    display: flex;
}
.phone:first-child {
    flex: 0;
    padding: 10px 0px 25px;
}

select {
    padding: 15px;
    font-size: large;
}

.phone:last-child {
    flex: 3;
}

input[type=submit] {
    background-color:lightseagreen;
    border: none;
    color: white;
    cursor: pointer;
    padding: 20px 335px 20px 200px;
}

input[type=submit]:hover {
    background-color: darkcyan;
}

.bottom {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(0, 119, 255);
}

.bottom > p {
    font-size: 12px;
}

@media only screen and (max-width:860px) {
    .content {
        width: 100%;
    }
    .items {
        margin: 0 30px;
    } 
    .name_container {
        flex-direction: column;
    }
    .name:first-child {
        margin-right: 0px; 
    }
}
 @media only screen and (max-width:715px) {
    .content {
        width: 100%;
     }   
    .items {
        margin: 0 -40px;
    } 
} 
@media only screen and (max-width:600px) {
    .content {
        width: 100%;
    }
    .items {
        margin: 0 40px;
    }
    input[type=submit]: {
        width: 
    }
}
        