



body {
    display: block;
    background-color:white;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
    font-style: normal;
}

.content {
    width: 70%;
    margin: auto;
    padding: 80px 60px;
}
.top {
    margin: auto;
    text-align: center;
}

.logo {
    width: 50px;
    height: 20px;    
    background-color: black;
    color: white;
    padding: 30px 30px 40px 10px;
    font-size: 20px;
    margin: 0px auto;
    font-weight: bold;
    letter-spacing: 5px;
}

.heading_1 {
    font-size: x-large;  
    margin-top: auto;
    
} 
h1 {
    font-weight: normal;
}

.items {
    font-size: small;
    margin: 0 60px;
}

input {
    width: 100%;
    margin: 10px 25px 25px 0px;
    padding: 15px 30px;
    font-size: large;
}

.name_container {
    display: flex;
    margin: 0 -20px;
}

.name {
    flex: 1;
    padding: 0px 20px;
}
.name:first-child {
    margin-right: 40px;
}

.phone_container {
    display: flex;
}
.phone:first-child {
    flex: 0;
    padding: 10px 0px 25px;
}

select {
    padding: 15px;
    font-size: large;
}

.phone:last-child {
    flex: 3;
}

input[type=submit] {
    background-color:lightseagreen;
    border: none;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkcyan;
}

.bottom {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(0, 119, 255)
}

.bottom > p {
    font-size: 12px;
}

/* @media only screen and (max-width: 992px) {
        width: 100%;
    }

@media only screen and (min-width: 768px) {
        width: 70%;
        
    }

@media only screen and (max-width: 600px) { */


/* test */